body {
  background-color: url('../public/sep09.jpg')
}

.floating-panel {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  float: right;
  left: 80%
}

.mantine-Input-input {
  width: 100%;
}

html,
body,
#application {
  height: 100%;
  overflow: auto;
}